@import "../sass-utils/mixins";
@import "../components/projects-cards";

.section-two {
  max-width: 1640px;
  margin: 0 auto;
  width: 95%;
  margin-top: 65px;
  @include mediaQueries(1024px) {
    margin-top: 90px;
  }
  @include mediaQueries(1700px) {
    width: 100%;
  }
}
