@import "../sass-utils/mixins";
@import "../components/button";
@import "../sass-utils/mixins";

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 20px;
  @include mediaQueries(768px) {
    padding: 0;
  }
  @include mediaQueries(1024px) {
    flex-direction: row;
    gap: 0px;
  }
  .card {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    width: 100%;
    gap: 20px;
    @include mediaQueries(1024px) {
      flex-direction: column;
      gap: 0px;
    }

    .illustration-unit {
      position: relative;
      .image {
        height: 200px;
        overflow: hidden;
        @include mediaQueries(600px) {
          height: 300px;
        }
        @include mediaQueries(768px) {
          height: 350px;
        }
        @include mediaQueries(1024px) {
          height: 400px;
        }
        img {
          max-width: 100%;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.65s ease;
        }
      }

      .more-info {
        position: absolute;
        background-color: rgba(18, 18, 18, 0.4);
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
        .more-info-button {
          @extend .button;
        }
      }
    }

    .information-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: $white;
      transition: opacity 0.3s ease;
      gap: 20px;
      height: 100%;
      @include mediaQueries(1024px) {
        gap: 25px;
        height: 400px;
      }

      .icon svg {
        width: 60px;
        height: 60px;
        fill: $blue;
        stroke: $blue;
        stroke-width: 0.5;
        transition: transform 0.8s ease;
        @include mediaQueries(768px) {
          width: 100px;
          height: 100px;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
        @include mediaQueries(1440px) {
          width: 412px;
        }

        .block-title {
          @include title();
          @include mediaQueries(1024px) {
            font-size: 22px;
            line-height: 150%;
          }
        }

        .block-description {
          display: none;
          padding-left: 10px;
          padding-right: 10px;
          @include description();
          @include mediaQueries(1024px) {
            display: block;
          }
          @include mediaQueries(1440px) {
            padding-left: 0px;
            padding-right: 0px;
          }
        }
      }
    }
  }

  & > a:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    @include mediaQueries(1024px) {
      gap: 0px;
    }
  }

  @include allow-hover {
    .first-card:hover,
    .second-card:hover,
    .third-card:hover {
      .illustration-unit .more-info {
        opacity: 1;
        visibility: visible;
      }

      .information-block {
        background-color: $card_background;
      }

      .icon svg {
        transform: rotateY(360deg);
        fill: $black;
        stroke: $black;
      }

      .illustration-unit .image img {
        transform: scale(1.2);
      }
    }
  }
}
